.app-layout-container {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 30px;
  background-color: #eee;
  height: 100vh;

  &_content {
    width: calc(100% - 250px);
    min-height: 90vh;
    border-radius: 10px;
    background-color: #eee;
    padding: 0 30px 30px 30px;
    overflow: auto;

    .loading {
      text-align: center;
    }
  }
}
