:root {
  --yellow: #F9D949;
  --Pink: #F45050;
  --blue: #3C486B;
  --Maroon: #A1343C;
  --green-blue: #A0D1FF;
  --grey-100: #B6B5B5;
  --grey-200: #CCCCCC;
  --grey-300: #E6E6E6;
  --grey-400: #F0F0F0;
  --dark-grey: #4F4F4F;
  --graay-500: #7e7f81;
  --Mamba: #92819B;
  --dark-yellow: #D8A465;
  --shadow-gray: #E8EBE7;
  --gray-600: #989EA6;
  --dark-red: #973A3C;
}
