.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__content {
    border-radius: 18px;
    background: #fff;
    box-shadow: 0 0 10px var(--grey-200);
    width: 80%;
    max-width: 600px;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__logo {
    width: 40px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    color: var(--blue);

    span {
      font-weight: 600;
    }
  }

  &__form {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    ::ng-deep {
      .p-password {
        width: 100%;

        .p-inputtext {
          width: 100%;
        }
      }
    }

    .login-btn {
      margin-top: 20px;

      ::ng-deep {
        .p-button {
          width: 100%;
          background-color: var(--blue);
          border-color: var(--blue);
        }
      }

    }
  }
}

