.home-page {

  .welcome-banner {
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: var(--blue);
    padding: 50px 40px;
    height: 120px;
    color: var(--gray-100);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 50px;

    span {
      color: #b4474f;
    }
  }

  .loading {
    text-align: center
  }

  .student-courses {
    &__title {
      font-weight: 800;
      color: var(--blue);
      margin: 20px 0 30px;
    }
  }
}
